<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
	<connectionStrings>
		<add name="Details" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=userstoredb;Integrated Security=True;"
     providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
